<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee"
 xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" 
 id="WebApp_ID" version="5.0">
  <display-name>TrainEnquirySystem</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  
  
    <!-- admin panal -->
  <servlet>
  	<servlet-name>admin</servlet-name>
  	<jsp-file>/admin/home.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
  	<servlet-name>admin</servlet-name>
  	<url-pattern>/adminpanal</url-pattern>
  </servlet-mapping>
  <!-- train -->
  <!-- add train -->
  <servlet>
  	<servlet-name>addtrainview</servlet-name>
  	<jsp-file>/admin/train/addtrain.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
  	<servlet-name>addtrainview</servlet-name>
  	<url-pattern>/addtrain</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>addtraincontroller</servlet-name>
  	<jsp-file>/controller/addtraincontroller.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
  	<servlet-name>addtraincontroller</servlet-name>
  	<url-pattern>/addtraincontroller</url-pattern>
  </servlet-mapping>
  
    <!-- update train -->
  <servlet>
  	<servlet-name>updatetrainview</servlet-name>
  	<jsp-file>/admin/train/updatetrain.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
  	<servlet-name>updatetrainview</servlet-name>
  	<url-pattern>/updatetrain</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>updatetraincontroller</servlet-name>
  	<jsp-file>/controller/updatetraincontroller.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
  	<servlet-name>updatetraincontroller</servlet-name>
  	<url-pattern>/updatetraincontroller</url-pattern>
  </servlet-mapping>
  
      <!-- Delete train -->
  <servlet>
  	<servlet-name>deletetrainview</servlet-name>
  	<jsp-file>/admin/train/deletetrain.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
  	<servlet-name>deletetrainview</servlet-name>
  	<url-pattern>/deletetrain</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>deletetraincontroller</servlet-name>
  	<jsp-file>/controller/deletetraincontroller.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
  	<servlet-name>deletetraincontroller</servlet-name>
  	<url-pattern>/deletetraincontroller</url-pattern>
  </servlet-mapping>
  
      <!-- Search train -->
  <servlet>
  	<servlet-name>searchtrain</servlet-name>
  	<jsp-file>/controller/searchtraincontroller.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
  	<servlet-name>searchtrain</servlet-name>
  	<url-pattern>/Searchtraincontroller</url-pattern>
  </servlet-mapping>
  
	 <!-- add station -->
  <servlet>
 	<servlet-name>addstationview</servlet-name>
 	<jsp-file>/admin/station/addstation.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
  	<servlet-name>addstationview</servlet-name>
  	<url-pattern>/addstation</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>addstationcontroller</servlet-name>
  	<jsp-file>/controller/addstationcontroller.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
  	<servlet-name>addstationcontroller</servlet-name>
  	<url-pattern>/addstationcontroller</url-pattern>
  </servlet-mapping>
  
  
</web-app>